@use '../../assets/styles/util' as u;

.content {
  text-align: center;
  padding: u.rem(6) 0 u.rem(12);

  @include u.breakpoint-up('medium') {
    padding: u.rem(12) 0 u.rem(24);
  }

  .heading {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);

    @include u.breakpoint-up('medium') {
      font-size: var(--fs-700);
    }
  }

  .description {
    font-size: var(--fs-200);
    color: var(--text-muted-color);
  }
}

.buttons {
  display: grid;
  grid-auto-flow: row;
  gap: u.rem(10);

  @include u.breakpoint-up('medium') {
    gap: u.rem(16);
  }
}

.icon {
  color: var(--color-primary);
  font-size: var(--fs-700);

  @include u.breakpoint-up('medium') {
    font-size: var(--fs-800);
  }

  &.like {
    color: var(--color-like);
  }
}
