@use '../../../../assets/styles/util/' as u;

.inputGroup {
  display: grid;
  gap: u.rem(12);

  .errorMessage {
    color: var(--color-error);
    font-size: var(--fs-200);
    padding: u.rem(4);
  }

  .invalidInput:focus-within {
    border-color: var(--color-error);

    .placeholder {
      color: var(--color-error);
    }
  }
}
