{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "parser": {
      "jsx": true,
      "syntax": "ecmascript"
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "env": {
    "mode": "usage",
    "coreJs": 3.25
  }
}
