{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": true
      }
    },
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "env": {
    "mode": "usage",
    "coreJs": 3.25
  }
}
