@use '../../assets/styles/util' as u;

:root {
  --backdrop-background-color: hsl(157deg 28% 34% / 40%);
}

[data-theme='light'] {
  --panel-background-color: hsl(var(--color-light-80-hsl) / 85%);
}

[data-theme='dark'] {
  --panel-background-color: hsl(var(--color-dark-10-hsl) / 85%);
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: var(--backdrop-background-color);
  backdrop-filter: blur(u.rem(1));
}

.modal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: u.rem(40) 1fr;
  gap: u.rem(24);
  width: min(90vw, u.rem(600));
  max-height: 75vh;
  overflow: auto;
  margin-inline: auto;
  margin-top: u.rem(100);
  border-radius: u.rem(16);
  border: none;
  outline: u.rem(1) solid transparent;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--shadow-medium);

  &:focus-visible {
    outline-color: var(--color-primary);
  }

  .panel {
    position: sticky;
    top: 0;
    z-index: 101;
    height: u.rem(56);
    display: grid;
    grid-template-columns: 1fr u.rem(40);
    place-items: center;
    background-color: var(--panel-background-color);
    backdrop-filter: blur(u.rem(4));
    padding-left: u.rem(56);
    padding-right: u.rem(16);

    .icon {
      font-size: var(--fs-900);
      color: var(--color-primary);
    }

    .title {
      font-size: var(--fs-600);
      font-weight: var(--fw-bold);
    }

    .closeButton {
      place-self: center;
      background-color: transparent;
      color: inherit;
      font-size: var(--fs-500);
      padding: u.rem(8);
      border-radius: u.rem(4);
      border: none;
      outline: u.rem(1) solid transparent;
      cursor: pointer;

      &:focus {
        outline-color: var(--color-primary);
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: min(90%, u.rem(480));
    justify-content: center;
    gap: u.rem(12);
    padding: 0 u.rem(12) u.rem(24);
  }
}
