@use '../../assets/styles/util' as u;

.dialog {
  &[open] {
    display: grid;
  }

  grid-template-columns: 1fr;
  grid-template-rows: u.rem(40) 1fr;
  gap: u.rem(24);
  width: u.rem(600);
  max-width: 80vw;
  padding: u.rem(16) u.rem(16) u.rem(48);
  margin: auto;
  border-radius: u.rem(16);
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--shadow-medium);

  &::backdrop {
    background-color: var(--backdrop-background-color);
  }
}

.content {
  order: 2;
  display: grid;
  grid-template-columns: min(80%, u.rem(440));
  justify-content: center;
  gap: u.rem(24);
}

.panel {
  order: 1;
  display: grid;
  grid-template-columns: 1fr u.rem(40);
  padding-left: u.rem(40);
  place-items: center;

  .icon {
    font-size: var(--fs-900);
    color: var(--color-primary);
  }

  .title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
  }

  .closeButton {
    place-self: stretch;
    background-color: inherit;
    color: inherit;
    border: none;
    outline: u.rem(1) solid transparent;
    border-radius: u.rem(4);
    font-size: var(--fs-500);
    cursor: pointer;

    &:focus {
      outline-color: var(--color-primary);
    }

    & > svg {
      margin: auto;
    }
  }
}
