@use '../../assets/styles/util' as u;

.list {
  display: grid;
  gap: u.rem(12);
  justify-content: end;

  &.nameShown {
    justify-content: stretch;
  }

  .link {
    display: grid;
    align-items: center;
    gap: u.rem(12);
    color: var(--text-color);
    padding: u.rem(10);
    border-radius: u.rem(8);
    outline: u.rem(2) solid transparent;
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-500);
    transition: transform 140ms ease-in-out, background-color 140ms ease-in-out,
      box-shadow 140ms ease-in-out;

    &:focus {
      outline-color: var(--color-primary);
    }

    &:hover {
      transform: translate(0, u.rem(-2));
      box-shadow: var(--shadow-small);
      background-color: var(--background-hover-color);
    }

    &.nameShown {
      grid-template-columns: 1fr auto;
    }

    &.active {
      color: var(--color-primary);
      font-weight: var(--fw-bold);
    }

    .icon {
      font-size: var(--fs-700);
    }
  }
}
