@use '../../assets/styles/util' as u;

.link {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: u.rem(8);
  padding: u.rem(10);
  margin-bottom: u.rem(8);
  border-radius: u.rem(8);
  outline: u.rem(2) solid transparent;
  color: var(--color-neutral-100);
  transition: all 0.2s ease-in-out;

  &:focus {
    outline-color: var(--color-primary-400);
    transform: translate(0, u.rem(-2));
  }

  &:hover {
    color: var(--color-neutral-200);
    transform: translate(0, u.rem(-2));
  }

  @include u.breakpoint-up('large') {
    grid-template-columns: auto 1fr;
  }
}

.active {
  color: var(--color-primary-400) !important;
}

.icon {
  font-size: clamp(u.rem(32), u.rem(26) + 1vw, u.rem(48));
}
