@use '../../assets/styles/util' as u;

[data-theme='light'] {
  --search-background-color: var(--color-light-70);
  --search-button-hover-background-color: var(--color-light-60);
  --search-button-hover-text-color: var(--color-dark-60);
}

[data-theme='dark'] {
  --search-background-color: var(--color-dark-30);
  --search-button-hover-background-color: var(--color-dark-40);
  --search-button-hover-text-color: var(--color-light-40);
}

.form {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: u.rem(4);
  background-color: var(--search-background-color);
  color: var(--text-color);
  box-shadow: var(--shadow-inner);
  padding: u.rem(6);
  border-radius: u.rem(13);
  outline: u.rem(2) solid transparent;
  transition: outline-color 180ms ease-in-out;

  &:focus-within {
    outline-color: var(--color-primary);
  }
}

.input {
  background-color: inherit;
  color: inherit;
  font-size: var(--fs-200);
  padding-inline: u.rem(8);
  border-radius: u.rem(14);
  outline: none;
  border: none;

  @include u.breakpoint-up('medium') {
    font-size: var(--fs-300);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--text-muted-color);
  padding: u.rem(8);
  border-radius: u.rem(9);
  border: none;
  outline: u.rem(2) solid transparent;
  cursor: pointer;
  transition: all 120ms ease-in-out;

  &:hover {
    background-color: var(--search-button-hover-background-color);
    color: var(--search-button-hover-text-color);
  }

  &:focus {
    outline-color: var(--color-primary);
  }
}
