@use '../../assets/styles/util' as u;

:root {
  --toggle-width: #{u.rem(70)};
}

[data-theme='light'] {
  --toggle-background-color: var(--color-light-70);
  --toggle-handle-color: var(--color-light-10);
  --toggle-icon-color: var(--color-dark-80);
}

[data-theme='dark'] {
  --toggle-background-color: var(--color-dark-40);
  --toggle-handle-color: var(--color-dark-80);
  --toggle-icon-color: var(--color-light-10);
}

.toggle {
  display: block;
  position: relative;
  height: calc(var(--toggle-width) / 2);
  width: var(--toggle-width);
  background-color: var(--toggle-background-color);
  border-radius: calc(var(--toggle-width) / 3.25);
  padding: calc(var(--toggle-width) / 10.4) calc(var(--toggle-width) / 10.8);
  cursor: pointer;
  box-shadow: var(--shadow-inner);
  outline: u.rem(2) solid transparent;

  &:focus-within {
    outline-color: var(--color-primary);
  }

  &::before {
    content: '';
    display: block;
    height: calc(var(--toggle-width) / 3.25);
    width: calc(var(--toggle-width) / 3.25);
    border-radius: 50%;
    background-color: var(--toggle-handle-color);
    position: absolute;
    z-index: 2;
    transform: translate(0);
    transition: transform 220ms ease-in-out;
  }

  &.enabled::before {
    transform: translateX(calc(var(--toggle-width) / 2));
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-inline: calc(var(--toggle-width) / 26);

    svg {
      color: var(--toggle-icon-color);
      height: calc(var(--toggle-width) / 4.3);
      width: calc(var(--toggle-width) / 4.3);
      z-index: 0;
    }
  }

  .input {
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}
