@use '../../../assets/styles/util' as u;

.link {
  display: grid;
  align-items: center;
  gap: u.rem(12);
  color: var(--text-color);
  padding: u.rem(10);
  border-radius: u.rem(8);
  outline: u.rem(2) solid transparent;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-500);
  transition: background-color 200ms ease-out,
    transform 140ms cubic-bezier(0.555, -0.175, 0.575, 1.38);

  &:focus-visible {
    outline-color: var(--color-primary);
  }

  &:hover {
    transform: scale(1.08);
    background-color: var(--background-hover-color);
    box-shadow: var(--shadow-small);
  }

  &:active {
    transform: none;
  }

  &.nameShown {
    grid-template-columns: 1fr auto;
  }

  &.active {
    color: var(--color-primary);
    font-weight: var(--fw-bold);
  }

  .icon {
    font-size: var(--fs-700);
  }
}
