@use '../../assets/styles/util' as u;

.avatar {
  width: clamp(u.rem(60), u.rem(25) + 5vw, u.rem(70));
  border-radius: u.rem(15);
}

.group {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--color-primary-400);
  border-radius: u.rem(16);
  gap: u.rem(16);
  padding: clamp(u.rem(16), u.rem(16) + 2vw, u.rem(20)) u.rem(20);
}
