html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-color: var(--color-dark);
  color: var(--color-light);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
