@use '../util' as u;

:root {
  // Font weights
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  // Font sizes
  --fs-200: #{u.rem(15)};
  --fs-300: #{u.rem(16)};
  --fs-400: #{u.rem(20)};
  --fs-500: #{u.rem(22)};
  --fs-600: #{u.rem(26)};
  --fs-700: #{u.rem(30)};
  --fs-800: #{u.rem(35)};
  --fs-900: #{u.rem(40)};
}

body {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}

p {
  font-size: clamp(var(--fs-300), var(--fs-300) + 0.2vw, var(--fs-400));
}

a,
a:visited,
a:active {
  text-decoration: none;
}
