@use '../../../assets/styles/util' as u;

:root {
  --backdrop-background-color: hsl(var(--color-green-10-hsl) / 25%);
}

[data-theme='light'] {
  --bar-background-color: hsl(var(--color-light-80-hsl) / 85%);
}

[data-theme='dark'] {
  --bar-background-color: hsl(var(--color-dark-10-hsl) / 85%);
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global {
  .ReactModal {
    &__Overlay {
      opacity: 0;
      transition: opacity 150ms ease-out;

      &--after-open {
        opacity: unset;
      }

      &--before-close {
        opacity: 0;
      }
    }

    &__Content {
      transform: scale(0);
      transition: transform 150ms cubic-bezier(0.555, -0.175, 0.575, 1.38);

      &--after-open {
        transform: none;
      }

      &--before-close {
        transform: scale(0);
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  touch-action: none;
  display: grid;
  justify-items: center;
  align-items: start;
  background-color: var(--backdrop-background-color);
  backdrop-filter: blur(u.rem(1));
}

.modal {
  width: 96%;
  max-width: u.rem(400);
  max-height: 96%;
  overflow-y: auto;
  overscroll-behavior: contain;
  align-self: center;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: u.rem(16);
  box-shadow: var(--shadow-xlarge);

  @include u.breakpoint-up('small') {
    max-width: u.rem(400);
    max-height: 90%;
  }

  @include u.breakpoint-up('medium') {
    max-width: u.rem(480);
  }

  &:focus {
    outline: none;
  }

  .topBar {
    position: sticky;
    top: 0;
    z-index: 101;
    min-height: u.rem(50);
    display: grid;
    place-items: center;
    background-color: var(--bar-background-color);
    backdrop-filter: blur(u.rem(4));
    margin-inline: u.rem(16);

    @include u.breakpoint-up('medium') {
      min-height: u.rem(60);
    }

    .icon {
      font-size: var(--fs-800);
      color: var(--color-primary);

      @include u.breakpoint-up('small') {
        font-size: var(--fs-900);
      }
    }

    .closeButton {
      position: absolute;
      left: 0;
      background-color: transparent;
      color: inherit;
      font-size: var(--fs-500);
      padding: u.rem(2);
      border-radius: u.rem(4);
      border: none;
      cursor: pointer;
    }
  }

  .content {
    display: grid;
    grid-auto-flow: row;
    gap: u.rem(12);
    padding: u.rem(5) u.rem(24) u.rem(24);

    @include u.breakpoint-up('small') {
      padding: u.rem(5) u.rem(30) u.rem(30);
    }

    @include u.breakpoint-up('medium') {
      padding: u.rem(5) u.rem(36) u.rem(36);
    }
  }
}
