@use '../../../../assets/styles/util' as u;

.bar {
  position: fixed;
  inset: auto 0 0;
  z-index: 3;
  height: var(--bottom-panel-height);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: u.rem(12);
  padding: u.rem(10) u.rem(25);
  background-color: var(--color-primary);
  color: var(--color-light-80);

  @include u.breakpoint-up('medium') {
    padding-inline: u.rem(60);
    justify-content: center;
    grid-template-columns:
      minmax(auto, u.rem(400))
      minmax(auto, u.rem(110))
      minmax(auto, u.rem(110));
  }

  @include u.breakpoint-up('xlarge') {
    margin-left: u.rem(-50);
  }

  .mainText {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
  }

  .subText {
    font-size: var(--fs-200);
  }
}
