@use '../../assets/styles/util/' as u;

:root {
  --btn-bg-color: var(--color-primary-400);
  --btn-text-color: var(--color-neutral-200);
  --btn-outline-color: var(--color-primary-600);
}

.button {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  box-shadow: 0 0 u.rem(4) u.rem(1) rgba(0 0 0 / 20%);
  border-radius: u.rem(12);
  border: none;
  outline: u.rem(2) solid transparent;
  font-weight: var(--fw-bold);
  cursor: pointer;
  padding: u.rem(12) u.rem(24);
  transition: all 0.2s ease-in-out;

  &.primary {
    --btn-bg-color: var(--color-primary-400);
    --btn-text-color: var(--color-neutral-100);

    &:hover {
      --btn-bg-color: var(--color-primary-400);
    }

    &:active {
      --btn-bg-color: var(--color-primary-500);
    }

    &:disabled {
      --btn-bg-color: var(--color-primary-600);
      --btn-text-color: var(--color-neutral-200);
    }
  }

  &.light {
    --btn-bg-color: var(--color-neutral-100);
    --btn-text-color: var(--color-neutral-700);

    &:hover {
      --btn-bg-color: var(--color-neutral-100);
    }

    &:active {
      --btn-bg-color: var(--color-neutral-200);
    }

    &:disabled {
      --btn-bg-color: var(--color-neutral-200);
      --btn-text-color: var(--color-neutral-400);
    }
  }

  &.dark {
    --btn-bg-color: var(--color-neutral-900);
    --btn-text-color: var(--color-neutral-100);

    &:hover {
      --btn-bg-color: var(--color-neutral-900);
    }

    &:active {
      --btn-bg-color: var(--color-neutral-900);
    }

    &:disabled {
      --btn-bg-color: var(--color-neutral-700);
      --btn-text-color: var(--color-neutral-400);
    }
  }

  &:hover {
    transform: translate(0, u.rem(-2));
    box-shadow: 0 0 u.rem(4) u.rem(2) rgba(0 0 0 / 30%);
  }

  &:focus {
    transform: translate(0, u.rem(-2));
    outline-color: var(--btn-outline-color);
  }

  &:active {
    transform: none;
  }

  &:disabled {
    cursor: not-allowed;
    transform: none;
  }
}
