@use '../../assets/styles/util/' as u;

.button {
  border-radius: u.rem(12);
  border: none;
  padding: u.rem(14) u.rem(24);
  cursor: pointer;
  font-size: u.rem(18);
  box-shadow: 0 0 u.rem(4) u.rem(1) rgba(0 0 0 / 20%);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

.light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}
