@use '../../assets/styles/util' as u;

.heading {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.form {
  display: grid;
  gap: u.rem(12);

  @include u.breakpoint-up('medium') {
    gap: u.rem(20);
  }

  .heading {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    margin-bottom: u.rem(12);

    @include u.breakpoint-up('medium') {
      font-size: var(--fs-500);
    }
  }

  .selectContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    .select {
      appearance: none;
      min-width: 0;
      background-color: var(--background-color);
      color: var(--text-color);
      font-size: var(--fs-300);
      padding: var(--input-padding);
      border-radius: u.rem(4);
      outline: none;
      border: u.rem(2) solid var(--border-color);
      cursor: pointer;

      & ~ .icon {
        position: absolute;
        inset: u.rem(16) u.rem(16) auto auto;
        color: var(--text-muted-color);
        font-size: var(--fs-400);
        pointer-events: none;
      }

      &:focus {
        border-color: var(--color-primary);

        & ~ .icon {
          color: var(--color-primary);
        }
      }
    }
  }

  .toggleGroup {
    display: grid;
    grid-auto-flow: row;
    gap: u.rem(6);

    @include u.breakpoint-up('medium') {
      gap: u.rem(12);
    }
  }

  .toggle {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .dateGroup {
    display: grid;
    grid-auto-flow: column;
    gap: u.rem(16);

    .input {
      appearance: none;
      min-height: u.rem(45);
    }
  }

  .submitButton {
    margin-top: u.rem(12);
  }
}
