@use '../util' as u;

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2.25vw, u.rem(44));
}

h2 {
  font-size: clamp(u.rem(24), u.rem(16) + 1.75vw, u.rem(38));
}

h3 {
  font-size: clamp(u.rem(20), u.rem(16) + 1.25vw, u.rem(32));
}

p {
  margin-top: 0;
  font-size: clamp(u.rem(16), u.rem(16) + 0.5vw, u.rem(24));
}

a,
a:visited,
a:active {
  text-decoration: none;
}
