@use '../../assets/styles/util' as u;

.form {
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr;
  gap: u.rem(20);

  .errorMessage {
    color: var(--color-error);
    font-size: var(--fs-200);
    padding: u.rem(4);
  }

  .invalidInput:focus-within {
    border-color: var(--color-error);

    .placeholder {
      color: var(--color-error);
    }
  }

  .submitButton {
    margin-top: u.rem(12);
  }
}
