@use '../../assets/styles/util' as u;

[data-theme='light'] {
  --user-item-background-color: var(--background-color);
}

[data-theme='dark'] {
  --user-item-background-color: var(--color-dark-20);
}

.userContainer {
  display: grid;
  grid-template-columns: u.rem(48) 1fr;
  align-items: center;
  gap: u.rem(12);
  background-color: var(--user-item-background-color);
  padding: u.rem(12);
  border-radius: u.rem(12);
  cursor: pointer;
  box-shadow: var(--shadow-small);

  .avatarContainer {
    align-self: start;
  }

  .avatar {
    border-radius: 50%;
  }

  .mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.rem(8);
    font-size: var(--fs-200);

    .topPanel {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      gap: u.rem(4);

      .usernames {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: start;

        .name {
          font-size: var(--fs-300);
          font-weight: var(--fw-bold);
          color: var(--text-color);
        }

        .username {
          color: var(--text-muted-color);
        }
      }

      .followButton {
        padding: u.rem(8) u.rem(12);
        font-size: var(--fs-300);
      }
    }
  }
}
