@use '../../../../assets/styles/util/' as u;

.stepIndexPanel {
  justify-self: end;
  font-size: var(--fs-200);
  margin-right: u.rem(10);

  .backButton {
    position: absolute;
    left: 0;
    background-color: transparent;
    color: inherit;
    font-size: var(--fs-500);
    padding: u.rem(2);
    border: none;
    cursor: pointer;
  }
}
