@use '../../assets/styles/util' as u;

.chirp {
  display: grid;
  grid-template-columns: u.rem(48) 1fr;
  grid-template-rows: 1fr;
  gap: u.rem(12);
  padding: u.rem(16);
  cursor: pointer;
  border-bottom: u.rem(1) solid var(--color-neutral-700);
}

.avatar {
  border-radius: 50%;
}

.content {
  padding: u.rem(25);
}

.dot,
.username,
.time {
  color: var(--color-neutral-400);
}

.dot {
  padding-inline: u.rem(6);
}

.username {
  margin-left: u.rem(4);
}

.name {
  color: var(--color-neutral-100);
  font-weight: var(--fw-bold);
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.replies,
.likes,
.share {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: u.rem(12);
  font-size: var(--fs-200);
}
