@use '../../assets/styles/util' as u;

@mixin card {
  background-color: var(--card-background-color);
  border: u.rem(1) solid var(--border-color);
  border-radius: u.rem(8);
  box-shadow: var(--shadow-small);
  padding: u.rem(12);
}

.chirp {
  @include card;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: u.rem(8);
  margin: u.rem(12);
  padding: u.rem(12) u.rem(12) u.rem(4);
  color: var(--text-color);
  cursor: pointer;

  &:focus-within {
    background-color: var(--card-background-color-hover);
  }

  @include u.breakpoint-up('small') {
    gap: u.rem(12);
    margin: u.rem(16);
    padding: u.rem(16) u.rem(16) u.rem(8);
  }
}

.avatar {
  width: u.rem(48);
  border-radius: 50%;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: u.rem(8);

  @include u.breakpoint-up('small') {
    gap: u.rem(12);
  }
}

.upperPanel {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: u.rem(6);
  color: var(--text-muted-color);
  font-size: var(--fs-200);

  @include u.breakpoint-up('small') {
    font-size: var(--fs-300);
  }

  .usernames {
    display: grid;
    grid-auto-flow: column;
    gap: u.rem(4);

    .username {
      color: var(--text-muted-color);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      color: var(--text-color);
      font-weight: var(--fw-bold);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.content {
  padding-bottom: u.rem(8);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.metrics {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-items: start;

  .replies,
  .likes,
  .share {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: var(--fs-200);
    background-color: inherit;
    color: var(--text-muted-color);
    transition: color 210ms ease;

    @include u.breakpoint-up('small') {
      gap: u.rem(8);
    }

    .iconBackground {
      background-color: inherit;
      color: inherit;
      padding: u.rem(10);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: background-color 210ms ease;

      &:focus-visible {
        outline: u.rem(2) solid var(--color-primary);
      }

      .icon {
        font-size: var(--fs-300);
      }
    }
  }

  .replies,
  .share {
    &:hover {
      color: var(--color-primary);

      .iconBackground {
        background-color: hsl(var(--color-primary-hsl) / 10%);
      }
    }
  }

  .likes {
    &:hover {
      color: var(--color-like);

      .iconBackground {
        background-color: hsl(var(--color-like-hsl) / 10%);
      }
    }

    &.liked {
      color: var(--color-like);
    }
  }
}
