@use '../../assets/styles/util' as u;

.main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-rows: 1fr;
  gap: u.rem(48);
  background-color: var(--color-dark-10);
  background-image: linear-gradient(
    45deg,
    var(--color-dark-10),
    var(--color-dark-30)
  );
  text-align: center;

  @include u.breakpoint-up('xlarge') {
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 3fr;
  }

  .welcome {
    min-height: 50vh;
    display: grid;
    align-content: center;
    place-items: center;
    color: var(--color-primary);

    .icon {
      font-size: u.rem(120);

      @include u.breakpoint-up('small') {
        font-size: u.rem(160);
      }

      @include u.breakpoint-up('medium') {
        font-size: u.rem(210);
      }

      @include u.breakpoint-up('large') {
        font-size: u.rem(250);
      }

      @include u.breakpoint-up('xlarge') {
        font-size: u.rem(300);
      }
    }
  }

  .hero {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: u.rem(24);
    background-color: var(--color-light-50);
    background-image: linear-gradient(
      45deg,
      var(--color-light-30),
      var(--color-light-80)
    );
    padding: u.rem(30) max(env(safe-area-inset-right), u.rem(24)) u.rem(30)
      max(env(safe-area-inset-left), u.rem(24));

    @include u.breakpoint-up('small') {
      grid-auto-flow: column;
    }

    @include u.breakpoint-up('large') {
      padding: u.rem(36);
      gap: u.rem(36);
    }

    @include u.breakpoint-up('xlarge') {
      grid-auto-flow: row;
      justify-items: center;
      padding-block: u.rem(48);
      gap: u.rem(48);
    }

    .card {
      display: grid;
      grid-auto-flow: row;
      align-content: center;
      justify-items: center;
      background-color: var(--color-light-80);
      color: var(--color-dark-10);
      border-radius: u.rem(16);
      padding: u.rem(20);
      box-shadow: var(--shadow-large);

      @include u.breakpoint-up('large') {
        padding: u.rem(24);
      }

      @include u.breakpoint-up('xlarge') {
        min-width: u.rem(380);
      }

      .group {
        width: clamp(u.rem(200), 100% - u.rem(60), u.rem(350));
        display: grid;
        grid-auto-flow: row;
        gap: u.rem(16);
        background-color: var(--color-primary);
        margin-top: u.rem(16);
        padding: u.rem(16);
        border-radius: u.rem(16);

        @include u.breakpoint-up('medium') {
          padding: u.rem(18);
        }

        @include u.breakpoint-up('xlarge') {
          padding: u.rem(20);
        }
      }
    }
  }
}
