@use '../../assets/styles/util' as u;

:root {
  --toast-color: var(--color-light-80);
  --toast-success-color: var(--color-primary);
  --toast-error-color: var(--color-error);
}

.container {
  bottom: u.rem(70) !important;

  @include u.breakpoint-up('small') {
    bottom: u.rem(10) !important;
  }

  &.space {
    @include u.breakpoint-up('small') {
      bottom: u.rem(75) !important;
    }

    @include u.breakpoint-up('medium') {
      bottom: u.rem(80) !important;
    }
  }
}

@mixin toast {
  color: var(--toast-color) !important;
  font-weight: var(--fw-semi-bold) !important;
  user-select: none;
}

.success {
  @include toast;

  background-color: var(--toast-success-color) !important;
}

.error {
  @include toast;

  background-color: var(--toast-error-color) !important;
}

.closeButton {
  background-color: inherit;
  font-size: var(--fs-400);
  border: none;
  cursor: pointer;
}
