@use '../../assets/styles/util' as u;

.section {
  display: grid;
  gap: u.rem(12);
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: u.rem(12);
  justify-self: start;
  align-items: center;
  padding: u.rem(16) u.rem(16) u.rem(0);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
}

.chirp {
  display: grid;
  gap: u.rem(12);
  padding: u.rem(16);
  border-bottom: u.rem(1) solid var(--border-color);
}

.author {
  display: grid;
  grid-template-columns: u.rem(48) 1fr;
  gap: u.rem(12);
}

.avatar {
  border-radius: 50%;
}

.usernames {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: start;
}

.username {
  color: var(--text-muted-color);
}

.name {
  color: var(--text-color);
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
}

.content {
  font-size: var(--fs-600);
  padding-bottom: u.rem(16);
  border-bottom: u.rem(1) solid var(--border-color);
}

.meta {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-inline: u.rem(4);
  color: var(--text-muted-color);

  @include u.breakpoint-up('medium') {
    grid-template-columns: repeat(2, 1fr);
    justify-items: initial;
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: u.rem(20);
}

.count {
  color: var(--text-color);
  font-weight: var(--fw-bold);
  margin-right: u.rem(4);
}

.date {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: u.rem(4);

  @include u.breakpoint-up('medium') {
    justify-self: end;
  }
}

.buttonPanel {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: u.rem(12);
  place-items: center;
  padding-top: u.rem(12);
  border-top: u.rem(1) solid var(--border-color);

  .button {
    background-color: transparent;
    color: var(--text-muted-color);
    padding: u.rem(10);
    border: none;
    border-radius: 50%;
    outline: u.rem(2) solid transparent;
    cursor: pointer;
    transition: background-color 210ms ease, color 210ms ease;

    &.liked {
      color: var(--color-like);
    }

    .icon {
      font-size: var(--fs-400);
    }

    &:focus-visible {
      outline-color: var(--color-primary);
    }

    &:hover {
      background-color: hsl(var(--color-primary-hsl) / 10%);

      .icon {
        color: var(--color-primary);
      }

      &.like {
        background-color: hsl(var(--color-like-hsl) / 10%);

        .icon {
          color: var(--color-like);
        }
      }
    }
  }
}

.reply {
  display: grid;
  grid-template-columns: u.rem(48) 1fr;
  gap: u.rem(12);
  padding-top: u.rem(12);
  border-top: u.rem(1) solid var(--border-color);
  cursor: pointer;

  .form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: u.rem(6);

    .textarea {
      font-size: var(--fs-400);
      resize: none;
      overflow: hidden;
      background-color: var(--background-color);
      color: var(--text-color);
      padding-block: u.rem(12);
      border: none;
      outline: none;
    }

    .submit {
      justify-self: end;
      padding: u.rem(10) clamp(u.rem(16), u.rem(14.4) + 0.5vw, u.rem(24));
      font-size: var(--fs-200);
    }
  }
}
