@use '../../assets/styles/util' as u;

@mixin card {
  background-color: var(--card-background-color);
  border: u.rem(1) solid var(--border-color);
  border-radius: u.rem(8);
  box-shadow: var(--shadow-small);
  padding: u.rem(12);
}

.navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: u.rem(12);
  align-items: center;
  padding: u.rem(16) u.rem(16) 0;
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
}

.container {
  padding: u.rem(12);
  border-bottom: u.rem(1) solid var(--border-color);

  @include u.breakpoint-up('small') {
    padding: u.rem(16);
  }
}

.chirp {
  @include card;

  display: grid;
  gap: u.rem(10);
  padding: u.rem(12) u.rem(12) u.rem(4);

  @include u.breakpoint-up('small') {
    padding: u.rem(16) u.rem(16) u.rem(8);
  }
}

.avatar {
  border-radius: 50%;
}

.author {
  display: grid;
  grid-template-columns: u.rem(48) 1fr;
  gap: u.rem(12);

  .usernames {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: start;
    overflow-wrap: anywhere;

    .username {
      color: var(--text-muted-color);
    }

    .name {
      color: var(--text-color);
      font-weight: var(--fw-bold);
      font-size: var(--fs-400);
    }
  }
}

.content {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-size: var(--fs-600);
  padding-bottom: u.rem(16);
  border-bottom: u.rem(1) solid var(--border-color);
}

.meta {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding-inline: u.rem(4);
  color: var(--text-muted-color);

  @include u.breakpoint-up('medium') {
    grid-template-columns: repeat(2, 1fr);
    justify-items: initial;
  }

  .metrics {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    align-items: center;
    gap: u.rem(8);

    .showLikesButton {
      background-color: inherit;
      color: inherit;
      padding: u.rem(5) u.rem(8);
      border-radius: u.rem(8);
      border: none;
      outline: u.rem(2) solid transparent;
      cursor: pointer;
      transition: background-color 140ms ease;

      &:hover {
        background-color: var(--background-hover-color);
      }

      &:focus-visible {
        outline-color: var(--color-primary);
      }
    }

    .count {
      color: var(--text-color);
      font-weight: var(--fw-bold);
      margin-right: u.rem(4);
    }
  }

  .date {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: u.rem(4);
    padding-block: u.rem(5);

    @include u.breakpoint-up('medium') {
      justify-self: end;
    }
  }
}

.buttonPanel {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: u.rem(12);
  padding: u.rem(5);
  border-top: u.rem(1) solid var(--border-color);

  .button {
    background-color: transparent;
    color: var(--text-muted-color);
    padding: u.rem(9);
    border: none;
    border-radius: 50%;
    outline: u.rem(2) solid transparent;
    cursor: pointer;
    transition: background-color 210ms ease, color 210ms ease;

    &.liked {
      color: var(--color-like);
    }

    .icon {
      font-size: var(--fs-400);
    }

    &:focus-visible {
      outline-color: var(--color-primary);
    }

    &:hover {
      background-color: hsl(var(--color-primary-hsl) / 10%);

      .icon {
        color: var(--color-primary);
      }

      &.like {
        background-color: hsl(var(--color-like-hsl) / 10%);

        .icon {
          color: var(--color-like);
        }
      }

      &.delete {
        background-color: hsl(var(--color-error-hsl) / 10%);

        .icon {
          color: var(--color-error);
        }
      }
    }
  }
}
