@use '../../assets/styles/util' as u;

.heading {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  text-align: center;
}

.form {
  display: grid;
  align-content: space-between;
  grid-template-columns: 1fr;
  gap: u.rem(24);
}

.submit {
  margin-top: u.rem(24);
}
