@use '../../assets/styles/util' as u;

.container {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  padding: u.rem(12);

  .heading {
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);

    @include u.breakpoint-up('medium') {
      font-size: var(--fs-500);
    }
  }

  .description {
    font-size: var(--fs-200);
    color: var(--text-muted-color);
  }

  .button {
    margin-top: u.rem(16);
  }
}
