@use '../../../assets/styles/util' as u;

.modal {
  max-width: u.rem(360);

  .heading {
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    text-align: center;
  }

  .description {
    color: var(--text-muted-color);
    font-size: var(--fs-200);
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: u.rem(12);
    margin-top: u.rem(12);
  }
}
