@use '../../assets/styles/util/' as u;

[data-theme='light'] {
  --logo-text-color: var(--color-primary);
}

[data-theme='dark'] {
  --logo-text-color: var(--color-primary);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  padding: u.rem(10) u.rem(16) u.rem(12);
  text-align: center;
  box-shadow: var(--shadow-small);
}

.logo {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  gap: u.rem(4);
  justify-self: start;
  color: var(--logo-text-color);
}

.heading {
  order: 2;
}

.icon {
  font-size: clamp(u.rem(40), u.rem(40) + 0.5vw, u.rem(50));
  order: 1;
}

.subheading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
