@use '../../assets/styles/util/' as u;

.header {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  align-items: center;
  padding: u.rem(10) u.rem(16) u.rem(12);
  border-bottom: u.rem(1) solid var(--color-neutral-700);
  text-align: center;
  box-shadow: hsla(0deg 0% 0% / 10%) 0 u.rem(20) u.rem(25) u.rem(-5),
    hsla(0deg 0% 0% / 4%) 0 u.rem(10) u.rem(10) u.rem(-5);
}

.logo {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  gap: u.rem(4);
  justify-self: start;
  color: var(--color-primary-400);
}

.heading {
  order: 2;
}

.icon {
  font-size: clamp(u.rem(40), u.rem(40) + 0.5vw, u.rem(50));
  order: 1;
}

.subheading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
