@use '../../assets/styles/util' as u;

[data-theme='light'] {
  --bottom-panel-background-color: rgb(var(--color-light-80-rgb) / 85%);
}

[data-theme='dark'] {
  --bottom-panel-background-color: rgb(var(--color-dark-10-rgb) / 85%);
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  @include u.breakpoint-up('small') {
    grid-template-columns: u.rem(90) auto;
  }

  @include u.breakpoint-up('medium') {
    grid-template-columns:
      minmax(u.rem(90), 1fr)
      minmax(auto, u.rem(650))
      1fr;
  }

  @include u.breakpoint-up('large') {
    grid-template-columns:
      minmax(u.rem(90), 1fr)
      minmax(auto, u.rem(650))
      minmax(u.rem(250), 1fr);
  }

  @include u.breakpoint-up('xlarge') {
    grid-template-columns:
      u.rem(250)
      u.rem(650)
      minmax(u.rem(250), u.rem(300));
    justify-content: center;
  }
}

.main {
  border-inline: u.rem(1) solid var(--border-color);
}

.sidebar {
  position: sticky;
  top: u.rem(80);
  z-index: 2;
  align-self: start;
  padding-inline: u.rem(20);
  padding-top: u.rem(10);

  @include u.breakpoint-up('xlarge') {
    padding-top: u.rem(20);
  }
}

.bottomPanel {
  position: sticky;
  bottom: 0;
  z-index: 2;
  display: grid;
  justify-content: center;
  background-color: var(--bottom-panel-background-color);
  backdrop-filter: blur(u.rem(4));
  box-shadow: var(--shadow-inverse);
  padding: u.rem(7) u.rem(10);
  border-top: u.rem(1) solid var(--border-color);
}
