@use '../../assets/styles/util' as u;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - u.rem(99));
  place-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  @include u.breakpoint-up('medium') {
    grid-template-columns: 1fr 6fr 1fr;
  }

  @include u.breakpoint-up('large') {
    grid-template-columns: 1fr 2.5fr 1fr;
  }

  @include u.breakpoint-up('xlarge') {
    grid-template-columns: 300px 700px 300px;
    justify-content: center;
  }
}

.main {
  border-inline: u.rem(1) solid var(--color-neutral-700);
}

.sidebar {
  display: grid;
  justify-content: center;
  padding-top: u.rem(30);
  align-content: start;
  grid-template-columns: 1fr;
  padding-inline: u.rem(20);

  @include u.breakpoint-up('large') {
    padding-inline: clamp(u.rem(20), u.rem(-16) + 4vw, u.rem(40));
  }
}
