@use '../../assets/styles/util' as u;

.modal {
  width: min(90%, u.rem(400));
  max-height: 85vh;
}

.container {
  display: grid;
  grid-template-columns: minmax(u.rem(200), u.rem(250));
  justify-content: center;
  gap: u.rem(16);
  padding-inline: u.rem(16);
}
