@use 'variables';

body {
  background-color: black;
  color: var(--text);
  font-family: Roboto, Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

#root {
  max-width: 900px;
  margin: auto;
  background-color: variables.$bg;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/rx7.jpg');
  background-size: cover;
  background-position-y: 40%;
  padding: 150px;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
